.vscode/
.DS_Store
__pycache__/
*-checkpoint.ipynb
.venv
*.egg*
build/*
_C.*
checkpoints/*.pt
demo/backend/checkpoints/*.pt
sam2_hiera_base_plus.pt
sam2_hiera_large.pt
sam2_hiera_small.pt
sam2_hiera_tiny.pt
sam2.1_hiera_base_plus.pt
sam2.1_hiera_large.pt
sam2.1_hiera_small.pt
sam2.1_hiera_tiny.pt
